@model Avicola.Web.Models.GeneticLines.StandardItemModel

<tr>
    <td style="text-align: center;" class="item-sequence">@Model.Sequence</td>
    <td></td>
    <td style="text-align: center;" class="item-value">@Model.Value.ToString("N2")</td>
</tr>