@using Framework.Common.Web.Helpers
@model Avicola.Web.Models.GeneticLines.StandardGeneticLineForm
@{
    ViewBag.Title = "Estándares de línea: " + Model.GeneticLine.Name.ToUpper();
}

<h3>Estándares de línea: @Model.GeneticLine.Name.ToUpper()</h3>

<a class="btn btn-primary" href="/StandardGeneticLine/Select/@Model.GeneticLine.Id" id="btn-add-standard">Agregar Estandar</a>
<a class="btn btn-info" href="/GeneticLine/Detail/@Model.GeneticLine.Id">Volver a Detalle</a>

<div class="spacer">
</div>

<table class="table table-hover">
    <thead>
    <tr>
        <th>Nombre</th>
    </tr>
    </thead>
    <tbody class="row-link" data-link="row">
    @foreach (var standard in Model.GeneticLine.StandardGeneticLines.Where(x => !x.IsDeleted))
    {
        <tr>
            <td>@Html.ActionLink(standard.Standard.Name, "Detail", "StandardGeneticLine", routeValues: new {standard.Id}, htmlAttributes: null)</td>
        </tr>
    }
    </tbody>
</table>
@Html.Modal("AddStandardModal")

@section scripts
{
    @Scripts.Render("~/Scripts/app/office-select-standard.js")
}

