@using Framework.Common.Web.Helpers
@model Avicola.Web.Models.ProviderForm
@{
    ViewBag.Title = "Editar Proveedor";
}

<h3>Editar Proveedor</h3>
@Html.BackButton("/Provider")
<hr />
@using (Html.BeginForm("Edit", "Provider", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.EditorForModel()
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Editar" class="btn btn-default" />
        </div>
    </div>
}