@using Framework.Common.Web.Helpers
@model Avicola.Web.Models.Medicines.MedicineForm
@{
    ViewBag.Title = "Editar Medicamento";
}

<h3>Editar Medicamento</h3>
@Html.BackButton("/Medicine")
<hr />
@using (Html.BeginForm("Edit", "Medicine", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.EditorForModel()
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Editar" class="btn btn-default" />
        </div>
    </div>
}