@{
    ViewBag.Title = "Seguimiento de Lotes";
    Layout = "~/Views/Shared/_ControlPanelLayout.cshtml";
}
<link rel="stylesheet" href="/Content/ControlPanel.css" type="text/css" media="all"/>
<div class="main-container col-lg-12">

</div>

@section scripts
{
    <script src="/Scripts/Highcharts-4.1.8/js/highcharts.js"></script>
    <script src="/Scripts/Highcharts-4.1.8/js/modules/exporting.js"></script>
    <script src="/Scripts/app/office-standards-dashboard.js"></script>
    <script>
        $(function() {
            controlPanel.refresh();
        });
    </script>
}