@{
    ViewBag.Title = "Seguimiento de Lotes";
    Layout = "~/Views/Shared/_ControlPanelLayout.cshtml";
}
<link href="/Content/ControlPanel.css" type="text/css"/>
<div class="main-container col-lg-12">

</div>

@section scripts
{
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
    <script>
        var controlPanel = function() {
            var refresh = function() {
                    $.getJSON("/ControlPanel/GetAllActive", function(data) {
                        var height = $(window).height();
                        $container = $('.main-container').empty().height(height - 60);

                        switch (data.length) {
                        case 1:
                            $container.append('<div class="chart-block col-lg-12 height100"><div class="content"></div></div>');
                            break;
                        case 2:
                            $container.append('<div class="chart-block col-lg-6 height100"><div class="content"></div></div>')
                                .append('<div class="chart-block col-lg-6 height100"><div class="content"></div></div>');
                            break;
                        case 3:
                            $container.append('<div class="chart-block col-lg-6 height50"><div class="content"></div></div>')
                                .append('<div class="chart-block col-lg-6 height50"><div class="content"></div></div>')
                                .append('<div class="chart-block col-lg-12 height50"><div class="content"></div></div>');
                            break;
                        case 4:
                            $container.append('<div class="chart-block col-lg-6 height50"><div class="content"></div></div>')
                                .append('<div class="chart-block col-lg-6 height50"><div class="content"></div></div>')
                                .append('<div class="chart-block col-lg-6 height50"><div class="content"></div></div>')
                                .append('<div class="chart-block col-lg-6 height50"><div class="content"></div></div>');
                            break;
                        }

                        $container.find('.chart-block').each(function(i, block) {
                            generateChart(data[i], block);
                        });


                    });
                },
                generateChart = function(batch, container) {
                    var categories = [];
                    var series = [];

                    for (var j = 0; j < batch.GeneticLine.Standards.length; j++) {
                        var standard = batch.GeneticLine.Standards[j];
                        
                        var firstSerie = {
                            name: 'Mínimo',
                            data: []
                        }
                        for (var i = 0; i < standard.StandardItems.length; i++) {
                            var item = standard.StandardItems[i];

                            categories.push(i + 1);
                            firstSerie.data.push(item.Value1);
                        }
                        series.push(firstSerie);

                        if (standard.ShowSecondValue) {
                            
                            var secondSerie = {
                                name: 'Máximo',
                                data: []
                            }
                            for (i = 0; i < standard.StandardItems.length; i++) {
                                item = standard.StandardItems[i];

                                secondSerie.data.push(item.Value2);
                            }
                            series.push(secondSerie);
                        } 
                    }
                    

                    $(container).find('.content').highcharts({
                        title: {
                            text: batch.Name,
                            x: -20 //center
                        },
                        subtitle: {
                            text: 'Línea genética: ' + batch.GeneticLine.Name,
                            x: -20
                        },
                        xAxis: {
                            categories: categories
                        },
                        yAxis: {
                            title: {
                                text: 'fuck you'
                            },
                            plotLines: [
                                {
                                    value: 0,
                                    width: 1,
                                    color: '#808080'
                                }
                            ]
                        },
                        tooltip: {
                            valueSuffix: ' medidas'
                    },
                    legend: {
                        layout: 'vertical',
                        align: 'right',
                        verticalAlign: 'middle',
                        borderWidth: 0
                    },
                    series: series
                });
            };

            return {
                refresh: refresh
            }
        }();

        $(function() {
            controlPanel.refresh();
        });
    </script>



}



<style media="all">
    html, body {
        height: 100%;
    }

    .container {
        max-width: 100%;
    }

    .main-container {
        min-height: 100%;
    }

    .chart-block {
        float: left;
        padding: 10px;
    }

    .chart-block .content {
        border: 1px solid black;
        float: left;
        width: 100%;
        height: 100%;
    }

    .height50 {
        height: 50%;
    }

    .height100 {
        height: 100%;
    }
</style>
