@using Framework.Common.Web.Helpers
@model Avicola.Web.Models.GeneticLines.GeneticLineForm
@{
    ViewBag.Title = "Detalle de Línea Genética";
}

<h3>Detalle de Línea Genética</h3>
@Html.BackButton("Index", "GeneticLine")
<hr />
<div class="form-horizontal">
    @Html.DisplayForModel()
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @using (Html.BeginForm("Delete", "GeneticLine", new { id = Model.Id }, FormMethod.Post, new { id = "delete-form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ActionLink("Editar", "Edit", "GeneticLine", routeValues: new { Model.Id }, htmlAttributes: new { @class = "btn btn-primary" })
                <button type="submit" class="btn btn-warning">Eliminar</button>
            }
        </div>
    </div>
</div>


@section scripts
{
    <script>
        $(function () {
            $("#delete-form").on("submit", function () {
                return confirm("Está seguro que desea eliminar este establecimiento educativo?  Esta operación no se puede deshacer.");
            });
        });
    </script>
}
