@model decimal?
@{
    var currency = !Model.HasValue ? string.Empty : Model.GetValueOrDefault().ToString("N2");
}
<div class="input-group input-group-currency">
    <span class="input-group-addon">$</span>
    @Html.TextBox("", currency, new { @class = "form-control autonumeric-control", data_a_sep = ".", data_a_dec = "," })
</div>
