.main-container{
    min-height: 100%;

    .chart-block{
        float: left;
        border: 1px solid black;
    }

    .height100{
        height: 100%;
    }

    .height50{
        height: 50%;
    }
}