body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.alert-success {
    width: 1170px !important;
}

.select2-selection__rendered {
    display: none;
}


.input-group {
    max-width: 280px;
}

.file-input .input-group {
    max-width: none;
}

#filter-container input,
#filter-container select,
#filter-container textarea {
    max-width: none;
}

.spacer {
    height: 5px;
}

.select2-container {
    display: block;
    width: 100% !important;
    max-width: 280px;
}

    .select2-container .select2-selection--single {
        height: 34px;
    }

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 3px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.form-group-date {
    max-width: 280px;
}

.autonumeric-control {
    text-align: right;
}

.field-validation-error {
    color: #a94442;
}

.validation-summary-errors {
     color: #a94442;
}

.table form {
    display: inline-block;
}

.float-left {
    float: left;
}

.margin-top-15 {
    margin-top: 15px;
}

.white {
    color: white;
}

.text-align-left {
    text-align: left;
}

.all-width {
    width: 100%;
}