@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <table style="width: 100%;">
        <tr>
            <td>
                <img src="/Content/Images/logo.png" style="width: 120px;"/>
            </td>
            <td>
                <h1>AVICOLA SANTA ANA</h1>
                <p class="lead">Aplicación web de administración</p>
            </td>
        </tr>
    </table>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Tablero de Producción</h2>
        <p>
            Se visualizará información de producción de los lotes que se encuentren activos, dependiendo de la etapa
            en la que se encuentren
        </p>
        <p><a class="btn btn-default" href="/ControlPanel/ProductionStandards">Ver Tablero</a></p>
    </div>
    <div class="col-md-4">
        <h2>Tablero de pedidos</h2>
        <p>Se visualizará información de estado respecto a los pedidos activos por orden de prioridad</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Ver Tablero</a></p>
    </div>
    <div class="col-md-4">
        <h2>Tablero de Ventas</h2>
        <p>Presenta información de ventas del día actual</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Ver tablero</a></p>
    </div>
</div>