@using Framework.Common.Web.Helpers
@model Avicola.Web.Models.FoodClasses.FoodClassForm
@{
    ViewBag.Title = "Detalle de Clase de Comida";
}

<h3>Detalle de Clase de Comida</h3>
@Html.BackButton("/FoodClass")
<hr />
<div class="form-horizontal">
    @Html.DisplayForModel()

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @Html.ActionLink("Editar", "Edit", "FoodClass", routeValues: new { Model.Id }, htmlAttributes: new { @class = "btn btn-primary" })
            @using (Html.BeginForm("Delete", "FoodClass", new {id = Model.Id}, FormMethod.Post, new {id = "delete-form"}))
            {
                @Html.AntiForgeryToken()

                <button type="submit" class="btn btn-warning">Eliminar</button>
            }
        </div>
    </div>
</div>


@section scripts
{
    <script>
        $(function () {
            $("#delete-form").on("submit", function () {
                return confirm("Está seguro que desea eliminar esta clase de alimento?  Esta operación no se puede deshacer.");
            });
        });
    </script>
}
