@using Framework.Common.Web.Helpers
@model Avicola.Web.Models.DepositForm
@{
    ViewBag.Title = "Editar Depósito";
}

<h3>Editar Depósito</h3>
@Html.BackButton("/Deposit")
<hr />
@using (Html.BeginForm("Edit", "Deposit", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.EditorForModel()
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Editar" class="btn btn-default" />
        </div>
    </div>
}