@using Framework.Common.Web.Helpers
@model Avicola.Web.Models.ClientForm
@{
    ViewBag.Title = "Crear Cliente";
}

<h3>Crear Cliente</h3>
@Html.BackButton("/Client")
<hr />
@using (Html.BeginForm("Create", "Client", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.EditorForModel()
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Crear" class="btn btn-default" />
        </div>
    </div>
}